html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}


.top-bar {
    display: flex;
    width: 800px;
    margin-top:2em;
}

.navbar-top {
    width:800px;
    display: flex;
    justify-content: space-around;
}

.toplinks {
    text-decoration: none;
    color: black;
    font-size: 0.85rem;
    font-weight: bold;
}

#product-header-1 {
    width: 800px;
    height: 200px;
    margin: 1.5em 0;
}

.product-header-content {
    border-bottom: 1px dashed black;
}

.top-product-offers {
    display: flex;
}

.bot-product-offers {
    display: flex;
    border-bottom: 1px dashed black;
}

.navbar-bot {
    width:800px;
    display: flex;
    justify-content: flex-start;
    background: black;
    margin-top: 2em;
}

.botlinks {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 2em 3em 1.5em 1.5em;
}